.row{
  margin-left: 0;
  margin-right: 0;
  max-width:100%;
}

/* top */
.top-text{
  display: inline-block;
  color: white;
  font-size: 14pt;
  margin-top: 1rem;
  font-weight: bold;
}

.top-image{
  padding-left: 10px;
}

#top{
  background: linear-gradient(#2498f4,#1d85d8);
}

#rec-between-menu-and-top-1{
  background-color: #208ce3;
  height:1px;
}
#rec-between-menu-and-top-1{
  background-color: #124169;
  height:1px;
}

/* menu */
#menu{
  background-color: #134670;
  background-image: url("../image/coherent.png");
}

ul li{
  padding-top: 20px;
  display: inline;
  margin-left: 10px;
}

.menu a{
  padding-bottom: 0px;
}

/* dashboard */
#dashboard{
  padding-top: 4px;
}
.green{
  background-color: #33cc66;
}
.top-bar{
  border-radius: 6px;
}
.top-bar-left p{
  margin-bottom: 0px;
}
.search-bar {
  position: relative;
  color: #aaa;
  font-size: 16px;
}
.search-bar input {
  width: 260px;
  height: 35px;
  margin: 0 0;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search-bar .fa-search {
  position:absolute;
  top:5px;
  left:165px;
}

/* content */
#page-title{
  margin-top: 18px;
}
#page-title p{
  font-size: 36pt;
  font-weight: 400;
  color: white;
}
#content{
  border: 1px solid #eee;
  margin: 18px;
}

/* announcement */
#announcement{
  font-size: 14pt;
  color:#fe7f13;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 10px;
}
#announcement-text{
  font-size: 14pt;
  color:black;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 10px;
}
.nav-button{
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 25px;
}

/* tasks&recommendations */
.contact img{
  display: inline;
}

#contact-1-text,#contact-2-text,#contact-3-text,#contact-4-text{
  display: inline;
  font-size: 19pt;
}
#contact-1,#contact-2,#contact-3,#contact-4{
  padding: 10px;
  padding-top: 15px;
  padding-left:5px;
}
#contact-1-1,#contact-2-1,#contact-3-1,#contact-4-1{
  padding-right: 5px;
  padding-bottom:5px;
}

.content-title{
  font-size: 28pt;
  font-weight: 500;
  font-family: Myriad-pro;
  padding-top: 15px;
  padding-left:5px;
}

.task-title{
  font-family: Myriad-pro;
  font-size:28pt;
  padding-top: 15px;
  padding-left:20px;
}

.rec-icon{
  padding-right: 0;
  text-align: center;
  vertical-align: middle;
  padding-left: 5px;
  padding-top: 5px;
}

.rec-name-small{
  font-size: 10pt;
  margin-bottom: 0px;
  padding:0px;
}
.rec-name{
  font-size: 16pt;
  margin-bottom: 0px;
  line-height: 1;
  font-weight: 400;
}
#rec1 a:visited,#rec2 a:visited, #rec3 a:visited, #rec4 a:visited{
  color:#2498f4;
}
#rec-1,#rec-2,#rec-3,#rec-4{
  padding: 10px;
  padding-top: 15px;
  padding-left:5px;
}

/* analytics */
#activity-graph{
  margin-top: 20px;

}
#analytics-and-banner{
  padding-left: 50px;

}
.button{
  padding: 0;
  border: none;
}
#graph-and-text{
  position: relative;
}
#graph-text{
  position: absolute;
  left:45px;
  top:65px;
}
.channel-text{
  padding-right: 40px;
}
#channel-image{
  left:80px;
}
#activity-text{
  padding-left:50px;
}

#avatar-1{
  position: relative;
  text-align: center;
}
#avatar-1-text{
  position: absolute;

  left:80px;
  top:80px;
}
#avatar-2{
  position: relative;
  text-align: center;
}
#avatar-2-text{
  position: absolute;
  left:70px;
  top:80px;
}


#thirty-one{
  font-size: 23pt;
  left:20pt;

}
#percent{
  font-size: 13pt;
  left:20pt;
}
#graph-left{
  width:90px;
}

#checkboxes{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.large-text{
  font-size: 20pt;
  color:white;
  margin-bottom: 0;
  line-height: 0.7;
}
.small-text{
  font-size: 11pt;
  color:white;
  margin-bottom: 0;
}
#avatars{
  padding-top: 30px;
}
#banner{
  background-color: #2498f4;
  position: relative;
  text-align: center;
  border-radius: 6px;
  padding: 40px;
  margin: 20px;
}
#banner-text{
  text-align: left;
  color: white;
  font-size: 13pt;
  line-height: 1.3;
}
#did-you-know{
  text-align: left;
  color: white;
  font-size: 11pt;
  line-height: 1.3;
}
#banner-1{
  position: absolute;
  right:0px;
  top:60px;

}
#banner-2{
  position: absolute;
  left:0px;
  top:60px;
}
#checkbox3, #checkbox4{
  width:20px;
  min-height:20px;
  margin-bottom: 0px;

  -webkit-appearance: none;
  -moz-appearance: none;

  background:url("../image/disable.png")no-repeat center;
}
#checkbox1, #checkbox2{
  width:30px;
  min-height:20px;
  margin-bottom: 0px;

  -webkit-appearance: none;
  -moz-appearance: none;

  background:url("../image/unchecked.png")no-repeat center;
}


#checkbox1:checked,#checkbox2:checked{
  width:30px;
  min-height:20px;
  margin-bottom: 0px;

  -webkit-appearance: none;
  -moz-appearance: none;
  background:url("../image/checked.png")no-repeat top center;
}

#tasks-and-recommendations .row{
  /* padding-top: 15px;
  padding-left:5px; */
}

#channels{
  z-index: 2;

}
#channels, #checkboxes {
  text-align: center;

}


/* gallery */
#gallery{
  background-color: #2498f4;
  text-align: center;
  padding: 20px;
  margin-bottom: 70px;
}
#gallery img{
  max-width: 100%;
  height:100%;
}
#gallery a{
  display: block;
}

.gallery-2{
  position: relative;
  text-align: center;
}
.gallery-text{
  background-color: #33cc66;
  position: absolute;
  z-index:2;
  left:65px;
  top:83px;
  padding:3px 10px;
  border-radius: 6px;

}
.gallery-text p{
  color:white;
  font-size:12pt;
  font-family: Myriad-pro;
  margin-bottom: 0;
}
.gallery-1, .gallery-3{
  padding-top: 12px;
}

/* footer */
#footer{
  background: url("../image/foot-back.png");
  max-width: 100%;
  padding-top:10px;
  margin-bottom: 0 !important;
}

#footer a,#updates p{
  font-size:14pt;
}

#footer a:hover{
  color: #2498f4;
}

#updates a{
  font-weight: bolder;

}
#updates p{
  display: inline;
  padding-left: 20px;
}
#updates img{
  padding-right: 10px;
}





/* fonts */
.Montserrat{
  font-family: Montserrat;
}
.Myriad-pro{
  font-family: Myriad-pro;
}
.update-blue{
  color:#2498f2;
}
.blue{
  color:#2498f4;
}
.gray{
  color:#ccc;
}
.middle-gray{
  color:#999;
}
.dark-gray{
  color:#777;
}
.stronger{
  font-weight: bolder;
}
.small-title{
  font-size: 11pt;
  font-weight: 400;
}
.graph-data{
  color: #666;
  font-size: 9pt;
  padding: 0;
  margin-bottom: 2px;
  text-align: left;
}
#graph-title{
  margin: 0;
  display: inline;

}



/* borders */
.border-bottom{
  border-bottom: 1px solid #eee;
}
.border-right{
  border-right: 1px solid #eee;
}
.border-left{
  border-left: 1px solid #eee;
}
.border-top{
  border-top: 1px solid #eee;
}

.zero-padding{
  padding: 0;
}

/* media */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .gallery-text{
    background-color: #33cc66;
    position: absolute;
    z-index:2;
    left:32px;
    top:60px;
    padding:3px 10px;
    border-radius: 6px;
  }
  .gallery-text p{
    color:white;
    font-size:10pt;
    font-family: Myriad-pro;
    margin-bottom: 0;
  }
}
